[submodule "dependencies/pfr"]
	path = dependencies/pfr
	url = https://github.com/boostorg/pfr.git
[submodule "dependencies/avendish"]
	path = dependencies/avendish
	url = git@github.com:celtera/avendish.git
[submodule "mp11"]
	path = dependencies/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "dependencies/doxygen-awesome-css"]
	path = dependencies/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "dependencies/libmapper-arduino"]
	path = dependencies/libmapper-arduino
	url = https://github.com/libmapper/libmapper-arduino.git
